* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(183, 168, 148);
}
.body2{
  padding-top: 70px;
}

/*! Navbar start */
.navbar {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: space-between;
  padding: 0px 30px;
  color: white;
  align-items: center;
}
.logo {
  font-size: 30px;
  color: white;
}
.menu-list {
  display: flex;
  column-gap: 20px;
  list-style: none;
  text-align: center;
}
.menu-list li {
  width: 100px;
  padding: 10px 10px;
  margin: 10px 0px;
  transition: all 0.5s;
}
.menu-list li a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}

.active,
.menu-list li:hover {
  background-color: rgb(234, 166, 77);
  border-radius: 10px;
}

/*! Navbar end */

/*! content start */
.content {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(images/hbrg.jpg);
  width: 100%;
  height:100vh;
  background-position: center;
  background-size: cover;
}
.content-box {
  overflow: hidden;
  position: relative;
  width: 600px;
  text-align: center;
  left: 10%;
  top: 20%;
}
.content-box h1 {
  color: white;
  line-height: 2;
}
.content-box p {
  line-height: 1.5;
  color: white;
  font-size: 20px;
}
.menu-btn {
  border: none;
  color: black;
  text-decoration: none;
  background-color: lightgray;
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
  border-radius: 10px;
  margin: 10px;
  transition: all 0.5s;
}
.menu-btn:hover {
  background-color: rgb(234, 166, 77);
  color: white;
  transform: translateY(-10px);
}
.a-btn{
  text-decoration: none;
  color: black;
}

/*! content end */

/*! Cards start */
.cards {
  display: flex;
  justify-content: space-around;
  column-gap: 20px;
  padding: 10px;
  margin-bottom: 20px;
  transition: all 0.5s ease;
}
.card {
  width: 300px;
  height: 400px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 10px 10px 30px;
}

.card img {
  width: 300px;
  height: 400px;
  border-radius: 10px;
  transition: all 0.5s ease;
}
.card:hover img {
  transform: scale(1.2);
}
.card .card-yazisi {
  background-color: #425f57;
  transform: translateY(-70px);
  color: white;
  opacity: 0.7;
  border-radius: 20px;
  transition: all 0.5s ease;
}
.card:hover .card-yazisi {
  transform: translateY(-250px);
  opacity: 0.9;
}
.card-yazisi h1 {
  font-size: 50px;
  padding: 5px;
  margin-bottom: 5px;
}
.card-yazisi p {
  font-size: 17px;
  line-height: 2;
  padding: 5px;
}

/*! Cards end */

/* sipariş start */

.siparis-cards{
  display: flex;
  justify-content: space-around;
  margin: 20px;

}
.siparis-card{
  overflow: hidden;
  width: 300px;
  height: 430px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0px 0px 30px;
  text-align: center;
  
}
.siparis-card img{
  width: 300px;
  height: 250px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  transition: all 0.5s ease;
}
.siparis-card:hover img{
  transform: scale(1.2);
}
.siparis-card-yazisi{
  padding: 10px;
}
.siparis-card-yazisi .fa-solid{
  font-size: 20px;
}
.siparis-ad{
  position: relative;
  text-align: center;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0px 0px 20px;
}
.siparis-fiyat{
  text-align: center;
  margin-top: 10px;
  font-size: 30px;
  background-color: white;
  box-shadow: 0px 0px 30px;
  border-radius: 20px;
  
}
.siparis-btn{
  width: 150px;
  padding: 10px;
  background: lightgray;
  margin-top: 10px;
  border-radius: 10px;
  font-style: italic;
  border: none;
  box-shadow: 0px 0px 30px;
  transition: all 0.5s ease;
}
.siparis-btn:hover{
  border:solid 1px black;
}
.siparis-card-yazisi .fa-duotone{
  font-size: 20px;
}

/* sipariş end */

/*! HAKKIMIZDA START */
.box{
  margin: auto;
  margin-top: 20px;
  padding: 10px;
  background-color: black;
  color: white;
  text-align: center;
  width: 400px;
  height: 500px;
  cursor: pointer;
}
.box img{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 20px;
  transition: all 0.5s ease;
}
.box img:hover{
  transform: scale(0.9);
  border: 1px lightgreen;
  border:solid 2px white;
}
.box-yazi h1{ 
  font-size: 30px;
  line-height: 2;
}
.box-yazi p{
  font-size: 18px;
  margin: 0px 10px;
}
.box-list{
  list-style: none;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  column-gap: 30px;
  color: white;
}
.box-list .bi{
  color: white;
  font-size: 40px;
}
.box-list .bi:hover{
  color: #b9b9b9;
}


/*! HAKKIMIZDA END */

/*? Mediya conterolu start */
@media(min-width:800px){
  .menu-list li{
    width: 150px;
  }
}
@media (max-width: 800px) {
  .navbar {
    width: 100%;
    padding: 0px 10px;
    
  }
  .logo {
    margin-right: 3px;
  }
  .menu-list {
    width: 100%;
    column-gap: 5px;
  }
  .menu-list li{
    margin-left: 5px;
  }
  
  .active,
  .menu-list li:hover {
    background: none;
    width: 80px;
  }
  .content {
    width: 100%;
    height: 100vh;
    align-items: center;
  }
  .content-box {
    width: 100%;
    top: 0;
    left: 0;
    margin-top: 50px;
  }
  .content-box h1 {
    margin-top: 50px;
  }
  .content-box p {
    margin-left: 20px;
    margin-right: 20px;
  }
  .menu-btn {
    display: block;
    margin-left: 30%;
    width: 200px;
  }
  .siparis-card,.cards {
    display: inline-block;
  }
  .siparis-card,.card {
    width: 100%;
    margin-bottom: 20px;
  }
  .siparis-card img,.card img {
    width: 100%;
  }
  .card:hover .card-yazisi {
    transform: translateY(-160px);
    opacity: 0.9;
  }
  .box{
    width: 100%;
    height: calc(100vh -70px);
  }
  
  @media (max-width: 530px) {
    .logo {
      display: none;
    }
    .menu-list li a{
        font-size: 14px;
      }
    .card-yazisi {
      transform: translateY(-160px);
      opacity: 0.9;
    }
    .menu-btn {
      display: block;
      margin-left: 25%;
      width: 200px;
    }
  }
}

/*? Mediya conterolu end */
